@* about Template File *@
@(name: String)

@main("About Katie") {
  <head>
    <title>Interior Design News</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
    
  </head>
  <body>
  	<center>
    	<h2 class="section-title">About Katie</h2>
    </center>
    
	<div class="navbar-default">
		<a href="home" id="home">Home</a>
		<a href="news" id="news">News</a>
		<a href="contact" id="contact">Contact</a>
		<a class="active" href="about" id="about">About</a>
		<a href="gallery" id="gallery">Gallery</a>
		@if(name == "") {
			<a href="loginPage" id="loginPage">Login</a>
		}
	  	@if(name != "") {
	  		<a href="receipt" id="receipt">Receipt</a>
	  		<a href="logout" id="logout">Logout</a>
	  	}
	</div>
	
	</br>
	
	<div class="mz-about-container">
		<div class="mz-about-light">
			<div class="mz-module-about">
				<div class="ot-circle">		
				<h3>Passion for home</h3>
				<h3>A History of living</h3>
				
				<p>My name is Katie. I'm a bit Southern, North-Eastern and South-Western. I don’t think a day goes by that I am not creatively invested in home design.
					My home design incorporates passion, love, energy, color, and excitement. Something about creating space; to spend time, come and go from, exist in, is my hearts desire. I have worked many years in different parts of the country. I am inspired by homes that are lived in as well beautiful. Our surroundings are meant to be a reflection of the things we care about. The people we care about sharing memories with. It’s not about being in or out of style. It’s about living life in a home you love.
					I want to serve as the light you need to get there. 
				</p>
				
				</div>
			</div>
		</div>
	</div>
  </body>
}