@* Contact Form File *@
@(queryForm: Form[edu.trinity.webapps.controllers.UserQuery], name:Option[String])(implicit messages: Messages)

@import helper._

@main("Contact Me") {

	<center>
		@if(name != None) {
			<h2 class="section-title"> Hello, @name.getOrElse("not logged in") Contact me!</h2>
		} else {
			<h2> Contact Information </h2>
		}
	</center>

	<div class="navbar-default">
		<a href="home" id="home">About</a>
		<a href="news" id="news">News</a>
		<a href="contact" id="contact">Contact</a>
		<a href="gallery" id="gallery">Gallery</a>
		@if(name == "") {
			<a href="loginPage" id="loginPage">Login</a>
		}
	  	@if(name != "") {
	  		<a class="active" href="receipt" id="receipt">Receipt</a>
	  		<a href="logout" id="logout">Logout</a>
	  	}
	</div>

	</br>
	</br>

	<div  style="float:left; padding-top: 100px; padding-left:70px; padding-bottom:300px;">
		<div class="mz-about-container">
			<div class="mz-about-light">
				<div class="mz-module-about" style="padding:0 100px;">
					<div class="ot-circle">		
						<center>
							<h3> Contact Info </h3>
							<p>
								Katie Lillback </br>
								dlillbac&#x40mac.com </br>
								(210) 867-0693 </br>
								780 Terrell Road, San Antonio, TX 78209 </br>
							</p>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div align="center">
		<h3> Email me</h3>
	
		<form action="query" method="post">
		  <textarea name="query" rows="15" cols="75" placeholder="Dear Katie,                                                                                                                                                      I love the..."></textarea>
		  <br>
		  <input class="btn-xl" type="submit" value="Send Message"></input>
		</form>	
	</div>
	
}
