@* Contact Form File *@
@(queryForm: Form[edu.trinity.webapps.controllers.UserQuery], name:Option[String])(implicit messages: Messages)

@import helper._

@main("Contact Me") {

	@if(name != None) {
		<h2>Hello, @name.getOrElse("not logged in") Contact me!</h2>
	} else {
		<h2> Contact Information</h2>
	}

	<div class="navbar-default">
	  <a href="home" id="home">Home</a>
	  <a href="news" id="news">News</a>
	  <a class="active"  href="contact" id="contact">Contact</a>
	  <a href="about" id="about">About</a>
	  <a href="gallery" id="gallery">Gallery</a>
	  <a href="receipt" id="receipt">Receipt</a>
	  <a href="logout" id="logout">Logout</a>
	</div>

<p>
  Katie Lillback
</p>
<p>
  dlillbac(at)mac.com
</p>
<p>
  (210) 867-0693
</p>
<p>
  780 Terrell Road, San Antonio, TX 78209
</p>

<h2> Email me</h2>

<form action="query" method="post">
  <input type="email" name="address" size="30">Email Address</input>
  <br>
  <textarea name="query" rows="10" columns="200"></textarea>
  <br>
  <input type="submit"></input>
</form>
}
