@* loginPage Template File *@
@(message: String, name: String)

@main("Login to Your Account") {
	
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
	
	

	<center>

	<h2 class="section-title">Login to Your Account</h2>
	
	<div class="navbar-default">
		<a href="home" id="home">About</a>
		<a href="news" id="news">News</a>
		<a href="contact" id="contact">Contact</a>
		<a href="gallery" id="gallery">Gallery</a>
		@if(name == "") {
			<a class="active" href="loginPage" id="loginPage">Login</a>
		}
	  	@if(name != "") {
	  		<a href="receipt" id="receipt">Receipt</a>
	  		<a href="logout" id="logout">Logout</a>
	  	}
	</div>
	
	</br>
	</br>
	
	<div class="section">
		<div class="login-section">
			<form action="loginUser" method="GET">
				<p> Login to your Account! </p>
				<span>username: </span><input type="text" name="name"></input>
				</br>
				
				<span>password: </span>	<input type="password" name="pw"></input>
				</br>
				</br>
				
				<div class="login-btn">
					<input type="submit" class="btn" value="login" name="loginUser"></input>
				</div>
			</form>
			</br>
			<p> Don't have an account? Create one! </p>
			<form action="addUser" method="GET">
				<span>username: </span><input type="text" name="name"></input>
				</br>
				
				<span>password: </span>	<input type="password" name="pw"></input>
				</br>
				</br>
				
				<div class="login-btn">
					<input type="submit" class="btn" value="create" name="addUser"></input>	
				</div>
			</form>
		</div>
	</div>
	</center>
}