@* news Template File *@
@(name: String)

@main("Interior Design Updates") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
   
   	<center>
		<h2 class="section-title">Updates with Katie</h2>
	</center>
	
   	<div class="navbar-default">
	  <a href="home" id="home">Home</a>
	  <a class="active" href="news" id="news">News</a>
	  <a href="contact" id="contact">Contact</a>
	  <a href="about" id="about">About</a>
	  <a href="gallery" id="gallery">Gallery</a>
	  @if(name != "") {
	  	<a href="receipt" id="receipt">Receipt</a>
	  	<a href="logout" id="logout">Logout</a>
	  }
	</div>
}