@* news Template File *@
@(name: String)

@main("Interior Design Updates") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
   
   	<center>
		<h2 class="section-title">Updates with Katie</h2>
	</center>
	
	<div class="navbar-default">
		<a href="home" id="home">About</a>
		<a class="active" href="news" id="news">News</a>
		<a href="contact" id="contact">Contact</a>
		<a href="gallery" id="gallery">Gallery</a>
		@if(name == "") {
			<a href="loginPage" id="loginPage">Login</a>
		}
	  	@if(name != "") {
	  		<a href="receipt" id="receipt">Receipt</a>
	  		<a href="logout" id="logout">Logout</a>
	  	}
	</div>
	
	<section
	<div class="mz-about-container">
		<div class="mz-about-light">
			<div class="mz-module-about">
				<div class="ot-circle">		
					<h3> April 23, 2019 - A Whopper of a Design</h3>
					<p> 
						In my latest hustle, I redesigned this room like a whataburger! 
					</p>
				</div>
				
				</hr>
				
				<div class="ot-circle">		
					<h3> April 3, 2019 - These Greens are Smooth</h3>
					<p> 
						I made this golf-themed crib totally smooth yo! 
					</p>
				</div>
				
				</hr>
				
				<div class="ot-circle">		
					<h3> March 15, 2019 - Fancy-Pants </h3>
					<p> 
						This refurnishing turned this house from a pair of cargo shorts, to a pair of khaki pants. 
					</p>
				</div>
				
				</hr>
				
				
				
			</div>
		</div>
	</div>
	</section>
}