@* receipt Template File *@
@(name: Option[String], clientName: Option[String], tasks: Seq[Seq[String]], clientList: Seq[String])

@main("View Purchases for " + name.getOrElse("no ones?")) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
	
	<center>
		<h2 class="section-title">Interior Design by Katie</h2>
	</center>

	
	<div class="navbar-default">
		<a class="active" href="home" id="home">Home</a>
		<a href="news" id="news">News</a>
		<a href="contact" id="contact">Contact</a>
		<a href="about" id="about">About</a>
		<a href="gallery" id="gallery">Gallery</a>
		@if(name == "") {
			<a href="loginPage" id="loginPage">Login</a>
		}
	  	@if(name != "") {
	  		<a href="receipt" id="receipt">Receipt</a>
	  		<a href="logout" id="logout">Logout</a>
	  	}
	</div>
	
	</br>
	</br>
	
	@if(name.getOrElse("") == "katie") {
		<div  style="float:left; padding-left:30px" class="right-border-div">
			
			<h2 class="section-title"> Admin View: </h2>
		

			<form action="addItem" method="GET">
				<table>
					<tr>
						<td> <span> Client Name: </span> </td>
						<td> <input type="text" name="clientName" value='@clientName.getOrElse("")'></input> </td>
					</tr>
					<tr>
						<td> <span> Item: </span> </td>
						<td> <input type="text" name="itemName"></input></td>
					</tr>
					<tr>
						<td> <span> Price: </span></td>
						<td> <input type="text" name="price"></input></td>
					</tr>
					<tr>
						<td> <span> Description: </span></td>
						<td> <input type="text" name="desc"></input></td>
					</tr>
					<tr>
						<td> <span> Vendor: </span></td>
						<td> <input type="text" name="vendor"></input></td>
					</tr>
				</table>
				<center>
					<input type="submit" class="btn-xl" value="Add Item" name="addButton"></input>
				</center>
			</form>
		
			</br>
			</br>
	
				
			<h3> Client List: </h3>
		
			<form action="viewReceipt" method="GET" class="client-box">
				@for(client <- clientList) {
					<input type="submit" class="btn" value="@client" name="clientToView"></input> </br>
				}
			</form>
		</div>
	}
	
		
	<div align="center">
		
		<h2> Purchases for @clientName.getOrElse("Not Logged In") </h2>
		
		
		<p> Total Purchases: @tasks.length </p>
		<p> 
			Total Price: 
			@if(tasks.length > 0) {
				@(tasks.map(item => if (item(1) == "") 0 else item(1).toDouble).sum)
			}
		</p>
		
		<table class="table-fill">
			<thead>
				<tr> 
					<th> Id </th>
					<th> Name </th>
					<th> Price </th>
					<th> Description </th>
					<th> Vendor </th>
				</tr>
			</thead>
			<tbody class="table-hover">
			@for(idx <- 0 until tasks.length) {	
				<tr> 
					<td> @(idx+1). </td>
					@for(piece <- tasks(idx)) {
						<td> @piece </td>
					} 
				</tr>
			}
			</tbody>
		</table>
	</div>
	
}