@* receipt Template File *@
@(name: Option[String], clientName: Option[String], tasks: Seq[Seq[String]], clientList: Seq[String])

@main("View Purchases for " + name.getOrElse("no ones?")) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
	
	<center>
		<h2 class="section-title">Interior Design by Katie</h2>
	</center>
	
	
	<div class="navbar-default">
	  <a href="home" id="home">Home</a>
	  <a href="news" id="news">News</a>
	  <a href="contact" id="contact">Contact</a>
	  <a href="about" id="about">About</a>
	  <a href="gallery" id="gallery">Gallery</a>
	  <a class="active" href="receipt" id="receipt">Receipt</a>
	</div>
	
	</br>
	</br>
	
	@if(name.getOrElse("") == "katie") {
		<div  style="float:left; padding-left:30px" class="right-border-div">
			
			<h2> Admin View: </h2>
		

			<form action="addItem" method="GET">
				<table>
					<tr>
						<th> <span> Client Name: </span> </th>
						<th> <input type="text" name="clientName" value='@clientName.getOrElse("")'></input> </th>
					</tr>
					<tr>
						<th> <span> Item: </span> </th>
						<th> <input type="text" name="itemName"></input></th>
					</tr>
					<tr>
						<th> <span> Price: </span></th>
						<th> <input type="text" name="price"></input></th>
					</tr>
					<tr>
						<th> <span> Description: </span></th>
						<th> <input type="text" name="desc"></input></th>
					</tr>
					<tr>
						<th> <span> Vendor: </span></th>
						<th> <input type="text" name="vendor"></input></th>
					</tr>
				</table>
				<input type="submit" value="Add Item" name="addButton"></input>
			</form>
		
			</br>
			</br>
	
				
			<h3> Client List: </h3>
		
			<form action="viewReceipt" method="GET" class="client-box">
				@for(client <- clientList) {
					<input type="submit" value="@client" name="clientToView"></input> </br>
				}
			</form>
		</div>
	}
	
		

	<div align="center">
		
		<h2> Purchases for @clientName.getOrElse("Not Logged In") </h2>
		
		
		<p> Total Purchases: @tasks.length </p>
		<p> 
			Total Price: 
			@if(tasks.length > 0) {
				@(tasks.map(item => if (item(1) == "") 0 else item(1).toDouble).sum)
			}
		</p>
		
		<table border="solid">
		<tr> 
			<th> Id </th>
			<th> Name </th>
			<th> Price </th>
			<th> Item description </th>
			<th> Vendor </th>
		</tr>
		@for(idx <- 0 until tasks.length) {	
			<tr> 
				<th> @(idx+1). </th>
				@for(piece <- tasks(idx)) {
					<th> @piece </th>
				} 
			</tr>
		}
		</table>
	</div>
	
}